/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Utilities Styles Starts */
body {
  font-family: "Poppins", sans-serif;
}
/* Utilities Styles Ends */

@media only screen and (max-width: 688px) {
  .carousel-item img {
    width: 100%;
    height: 500px;
  }
}
